@font-face {
  font-family: 'haymakerregular';
  src: url("./fonts/haymaker-webfont.eot");
  src: url("./fonts/haymaker-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/haymaker-webfont.woff") format("woff"), url("./fonts/haymaker-webfont.ttf") format("truetype"), url("./fonts/haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'blanchcaps_inline';
  src: url("./fonts/blanch_caps_inline-webfont.eot");
  src: url("./fonts/blanch_caps_inline-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/blanch_caps_inline-webfont.woff") format("woff"), url("./fonts/blanch_caps_inline-webfont.ttf") format("truetype"), url("./fonts/blanch_caps_inline-webfont.svg#blanchcaps_inline") format("svg");
  font-weight: normal;
  font-style: normal; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav,
section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

button::-moz-focus-inner, input::-moz-focus-inner, legend {
  border: 0;
  padding: 0; }

/* clearfix */
.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0; }

/* Sane border box */
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #d4d4d4;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem; }

h1 {
  font-family: 'blanchcaps_inline', sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0; }

h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'haymakerregular', sans-serif; }

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem; }

h3 {
  font-size: 3rem; }

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #d4d4d4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem; }

h1 {
  font-family: 'blanchcaps_inline', sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0; }

h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'haymakerregular', sans-serif; }

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem; }

h3 {
  font-size: 3rem; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

input#fold:not(:checked) ~ #main .team-of-the-day > * {
  transform: none; }

label[for="fold"] {
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  background: #000;
  color: #fff;
  border: 2px solid #000;
  cursor: pointer;
  padding: 0.5rem 1rem; }

input#fold {
  display: none; }

input#fold:checked + label {
  background: #fff;
  color: #000; }

.team-of-the-day {
  display: flex;
  height: 90vh;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 5vh;
  perspective: 1000;
  transform-style: preserve-3d; }

.team-of-the-day > * {
  flex: 1 4 auto;
  padding: 2rem;
  border: 1rem double #1a1a1a;
  position: relative;
  background: #fff;
  transition: all 0.3s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  overflow: scroll; }

.team-of-the-day > *:first-child {
  flex-shrink: 1;
  flex-basis: 50%;
  transform: translateX(50%) rotateY(6deg) translateX(-50%); }

.team-of-the-day > *:nth-child(2) {
  transform: translateX(-50%) rotateY(-14deg) translateX(50%);
  border-left: 0;
  border-right: 0;
  min-width: 300px; }

.team-of-the-day > *:last-child {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  transform: translateX(-50%) rotateY(10deg) translateX(50%) scale(1.08) translateX(24px); }

.top {
  text-align: center; }

.top h1 {
  font-size: 14.4rem;
  line-height: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.top h1 .of-the {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  color: #f5a623;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("/images/anchor.svg") center no-repeat;
  background-size: cover;
  padding: 0 1rem; }

.top h1 .of-the .of {
  padding-right: 2rem;
  position: relative;
  right: -0.5rem; }

.top h3 {
  margin: 0;
  font-size: 2rem;
  color: #f5a623;
  position: relative;
  display: inline-block; }

.top h3 span {
  background: #fff;
  position: relative;
  z-index: 2;
  padding-left: 1rem;
  padding-right: 1rem; }

.top h3::before, .top h3::after {
  display: block;
  z-index: 1;
  background: #000;
  position: absolute;
  width: 130%;
  height: 1px;
  content: '';
  top: 5px;
  margin-left: -15%; }

.top h3::after {
  top: auto;
  bottom: 7px; }

ul.lineup li {
  border-bottom: 1px solid #000;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

ul.lineup li:hover button {
  display: inline; }

ul.lineup li button {
  border: 0;
  display: none;
  line-height: 1;
  padding: 0; }

.total {
  font-weight: 600;
  border-bottom: 3px solid #000;
  border-top: 3px double #000; }

.unavailable {
  text-decoration: line-through;
  background: #f8d0d2; }

.price {
  font-size: 1.2rem; }

.count {
  position: relative;
  overflow: hidden;
  float: left; }

.count span {
  display: inline-block; }

.list-of-players {
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  padding-top: 5px;
  margin-top: 2rem;
  transform: translateZ(0); }

.menu-player {
  border-bottom: 2px solid #000;
  border-top: 1px solid #000;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 5px;
  clear: both;
  overflow: hidden; }

.menu-player p {
  margin: 0;
  font-size: 1.8rem; }

.menu-player .player-name {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu-player .price {
  font-size: 1.4rem;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu-player img {
  float: left;
  width: 150px;
  margin-right: 1rem; }

.player-edit {
  margin-bottom: 20px;
  border: 2px solid #000;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.player-edit input, .player-edit textarea, .player-edit select {
  width: 33.33%;
  padding: 10px;
  line-height: 1;
  font-size: 1.2rem;
  border: 0;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background: #fff; }

.player-edit input:focus, .player-edit textarea:focus, .player-edit select:focus {
  outline: 0;
  background: #fef2de; }

.player-edit textarea {
  width: 100%; }

.player-edit input:last-of-type {
  width: 100%; }

.player-edit button {
  width: 100%;
  border: 0; }

button, input[type=submit] {
  text-transform: uppercase;
  background: none;
  border: 1px solid #000;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Open Sans';
  transition: all 0.2s;
  position: relative;
  z-index: 2; }

button[disabled], input[type=submit][disabled] {
  color: #d12028;
  background: #fff;
  border-color: #d12028;
  transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%); }

button[disabled]:hover, input[type=submit][disabled]:hover {
  color: #d12028;
  cursor: not-allowed; }

button[disabled]::after, input[type=submit][disabled]::after {
  display: none; }

button::after, input[type=submit]::after {
  content: '';
  z-index: -1;
  display: block;
  background: #000;
  position: absolute;
  width: 100%;
  height: 0%;
  left: 0;
  top: 0;
  transition: all 0.2s; }

button:hover, input[type=submit]:hover, button:focus, input[type=submit]:focus {
  color: #fff;
  outline: 0; }

button:hover::after, input[type=submit]:hover::after, button:focus::after, input[type=submit]:focus::after {
  height: 100%; }

.github, .facebook, .twitter {
  border: 0;
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  color: #fff;
  padding: 2rem; }

.github {
  background: #82d465; }

.github::after {
  background: #5cc437; }

.facebook {
  background: #3864a3; }

.facebook::after {
  background: #2d5082; }

.twitter {
  background: #5ea9dd; }

.twitter::after {
  background: #2c8dd0; }

.team-selector {
  background: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 2rem;
  border: 2px solid #000;
  width: 100%; }

.team-selector {
  text-align: center;
  font-size: 3rem; }

/*
Possible animations:
enter
leave
appear must be set transitionAppear={true} on animation Component
*/
/* animation when player added to lineup */
.lineup-enter {
  transition: all 0.5s;
  transform: translateX(-120%);
  max-height: 0;
  padding: 0 !important; }
  .lineup-enter.lineup-enter-active {
    max-height: 60px;
    padding: 2rem 0 !important;
    transform: translateX(0); }

/* animation when player removed from lineup */
.lineup-leave {
  transition: all 0.5s;
  transform: translateX(0);
  max-height: 60px;
  padding: 2rem 0 !important; }
  .lineup-leave.lineup-leave-active {
    max-height: 0;
    padding: 0 !important;
    transform: translateX(-120%); }

/* number increase/decrease animation */
.count-enter {
  transition: all 0.25s;
  transform: translateY(100%); }
  .count-enter.count-enter-active {
    transform: translateY(0); }

.count-leave {
  transition: all 0.25s;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(0); }
  .count-leave.count-leave-active {
    transform: translateY(-100%); }
